<mat-form-field>
	<input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter">
</mat-form-field>
<table #table [dataSource]="dataSource" class="mat-elevation-z8" mat-table matSort>
	<ng-container matColumnDef="id">
		<th *matHeaderCellDef mat-header-cell mat-sort-header>id</th>
		<td *matCellDef="let element" mat-cell> {{element.id}} </td>
	</ng-container>
	<ng-container matColumnDef="type">
		<th *matHeaderCellDef mat-header-cell mat-sort-header>type</th>
		<td *matCellDef="let element" mat-cell> {{element.type}} </td>
	</ng-container>
	<ng-container matColumnDef="links.self">
		<th *matHeaderCellDef mat-header-cell mat-sort-header>links.self</th>
		<td *matCellDef="let element" mat-cell> {{element.links.self}} </td>
	</ng-container>
	<ng-container matColumnDef="attributes.urn">
		<th *matHeaderCellDef mat-header-cell mat-sort-header>urn</th>
		<td *matCellDef="let element" mat-cell> {{element.attributes.urn}} </td>
	</ng-container>
	<ng-container matColumnDef="attributes.created_at">
		<th *matHeaderCellDef mat-header-cell mat-sort-header>created_at</th>
		<td *matCellDef="let element" mat-cell> {{element.attributes.created_at}} </td>
	</ng-container>
	<ng-container matColumnDef="attributes.updated_at">
		<th *matHeaderCellDef mat-header-cell mat-sort-header>updated_at</th>
		<td *matCellDef="let element" mat-cell> {{element.attributes.updated_at}} </td>
	</ng-container>
	<ng-container matColumnDef="attributes.content">
		<th *matHeaderCellDef mat-header-cell mat-sort-header>content</th>
		<td *matCellDef="let element" mat-cell> {{element.attributes.content}} </td>
	</ng-container>
	<ng-container matColumnDef="attributes.properties">
		<th *matHeaderCellDef mat-header-cell mat-sort-header>properties</th>
		<td *matCellDef="let element" mat-cell> {{element.attributes.properties}} </td>
	</ng-container>
	<ng-container matColumnDef="attributes.display_properties.type">
		<th *matHeaderCellDef mat-header-cell mat-sort-header>type</th>
		<td *matCellDef="let element" mat-cell> {{element.attributes.display_properties.type}} </td>
	</ng-container>
	<ng-container matColumnDef="attributes.display_properties.image">
		<th *matHeaderCellDef mat-header-cell mat-sort-header>image</th>
		<td *matCellDef="let element" mat-cell> {{element.attributes.display_properties.image}} </td>
	</ng-container>
	<ng-container matColumnDef="relationships.authors.links.self">
		<th *matHeaderCellDef mat-header-cell mat-sort-header>links.self</th>
		<td *matCellDef="let element" mat-cell> {{element.relationships.authors.links.self}} </td>
	</ng-container>
	<ng-container matColumnDef="relationships.authors.links.related">
		<th *matHeaderCellDef mat-header-cell mat-sort-header>links.related</th>
		<td *matCellDef="let element" mat-cell> {{element.relationships.authors.links.related}} </td>
	</ng-container>
	<ng-container matColumnDef="relationships.publishers.links.self">
		<th *matHeaderCellDef mat-header-cell mat-sort-header>links.self</th>
		<td *matCellDef="let element" mat-cell> {{element.relationships.publishers.links.self}} </td>
	</ng-container>
	<ng-container matColumnDef="relationships.publishers.links.related">
		<th *matHeaderCellDef mat-header-cell mat-sort-header>links.related</th>
		<td *matCellDef="let element" mat-cell> {{element.relationships.publishers.links.related}} </td>
	</ng-container>

	<ng-container matColumnDef="hr1">
		<th *matHeaderCellDef [attr.colspan]="3" mat-header-cell></th>
	</ng-container>
	<ng-container matColumnDef="hr2">
		<th *matHeaderCellDef [attr.colspan]="7"
			mat-header-cell>Attributes
		</th>
	</ng-container>
	<ng-container matColumnDef="hr3">
		<th *matHeaderCellDef [attr.colspan]="4"
			mat-header-cell>Relationships
		</th>
	</ng-container>

	<ng-container matColumnDef="hr4">
		<th *matHeaderCellDef [attr.colspan]="8" mat-header-cell></th>
	</ng-container>
	<ng-container matColumnDef="hr5">
		<th *matHeaderCellDef [attr.colspan]="2"
			mat-header-cell>Display Properties
		</th>
	</ng-container>
	<ng-container matColumnDef="hr6">
		<th *matHeaderCellDef [attr.colspan]="2"
			mat-header-cell>Authors
		</th>
	</ng-container>
	<ng-container matColumnDef="hr7">
		<th *matHeaderCellDef [attr.colspan]="2"
			mat-header-cell>Publishers
		</th>
	</ng-container>
	<tr *matHeaderRowDef="['hr1', 'hr2', 'hr3']" mat-header-row></tr>
	<tr *matHeaderRowDef="['hr4', 'hr5', 'hr6', 'hr7']" mat-header-row></tr>
	<tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
	<tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>
<table [dataSource]="dataSource2" class="mat-elevation-z8" mat-table>
	<ng-container matColumnDef="first">
		<th *matHeaderCellDef mat-header-cell>links.first</th>
		<td *matCellDef="let element" mat-cell>{{element.first}}</td>
	</ng-container>
	<ng-container matColumnDef="last">
		<th *matHeaderCellDef mat-header-cell>links.last</th>
		<td *matCellDef="let element" mat-cell>{{element.last}}</td>
	</ng-container>
	<tr *matHeaderRowDef="displayedColumns2" mat-header-row></tr>
	<tr *matRowDef="let row; columns:displayedColumns2" mat-row></tr>
</table>
